{%- comment -%}
  Accepts:

  -class: {String} - Class to be applied
  -alignment?: {String} - Alignemnt of the links. Accepts: 'center'
  -product_collection?: {Collection} - Add's first collection if assigned to the breadcrumb
{%- endcomment -%}

{%- assign alignment = alignment | default: '' -%}
{%- assign class = class | default: '' | append: 'breadcrumbs--' | append: alignment -%}

<nav class="breadcrumbs {{ class }}" role="navigation" aria-label="{{- 'theme.breadcrumb.label' | t -}}">
  <ul class="breadcrumbs__list list-unstyled no-scrollbar" role="list">
    <li>
      <a href="{{- routes.root_url -}}" class="breadcrumbs__link">
        {{- 'theme.breadcrumb.home' | t -}}
      </a>
    </li>

    <li class="breadcrumbs__separator">/</li>

    {%- if product and collection -%}
      {%- assign collection_title = collection.title  -%}
      {% if collection.metafields['custom']['collection_short_title'] != blank %}
        {% assign collection_title = collection.metafields['custom']['collection_short_title'] %}
      {% endif %}
      <li>
        <a href="{{- collection.url -}}" class="breadcrumbs__link">
          {{- collection_title | escape -}}
        </a>
      </li>

      <li class="breadcrumbs__separator">/</li>
    {%- endif -%}

    {%- if product_collection -%}
      {%- assign collection_title = product_collection.title  -%}
      {% if product_collection.metafields['custom']['collection_short_title'] != blank %}
        {% assign collection_title = product_collection.metafields['custom']['collection_short_title'] %}
      {% endif %}
      <li>
        <a href="{{- product_collection.url -}}" class="breadcrumbs__link">
          {{- collection_title | escape -}}
        </a>
      </li>

      <li class="breadcrumbs__separator">/</li>
    {%- endif -%}

    {%- if template.name == 'article' -%}
      <li>
        <a href="{{- blog.url -}}" class="breadcrumbs__link" title="{{- blog.title | escape -}}">
          {{- blog.title | escape -}}
        </a>
      </li>
      <li class="breadcrumbs__separator">/</li>
    {%- endif -%}
    <li>
      <span>
        {%- if template.name != 'search' -%}
          {% assign base_title = page_title %}
          {% if template contains 'product' %}
           
            {% if product.metafields['custom']['product_short_title'] != blank %}
              {% assign base_title = product.metafields['custom']['product_short_title'] %}
            {% endif %}
            {{- base_title | escape -}}
          {% elsif template contains 'collection' %}
            {% if collection.metafields['custom']['collection_short_title'] != blank %}
              {% assign base_title = collection.metafields['custom']['collection_short_title'] %}
            {% endif %}  
            {{- base_title | escape -}}
          {% else %}
              {{- page_title | escape -}}
          {% endif %}
          
        {%- else -%}
          {{- 'theme.breadcrumb.search' | t -}}
        {%- endif -%}
      </span>
    </li>
  </ul>
</nav>
