{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to dispay


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
    picker_type: picker_type
  %}
{% endcomment %}

{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign swatch_focal_point = null
    unless value.swatch == blank
      if value.swatch.image
        assign image_url = value.swatch.image | image_url: width: 50
        assign swatch_value = 'url(' | append: image_url | append: ')'
        assign swatch_focal_point = value.swatch.image.presentation.focal_point
      elsif value.swatch.color
        assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
      else
        assign swatch_value = null
      endif
    else
      assign handle_value = value | handleize | downcase
      for swatch in shop.metaobjects.color_swatches.values
        assign swatch_name = swatch.name | handleize | downcase
        assign swatch_value = '#fff'
        if swatch_name == handle_value
          if swatch.image.value != blank
            assign image_url = swatch.image.value | image_url: width: 50
            assign swatch_value = 'url(' | append: image_url | append: ')'
          elsif swatch.image.value == blank and swatch.value.value != blank
            assign swatch_value = swatch.value.value
          else
            assign swatch_value = null
          endif
          break
        endif
      endfor
    endunless

    assign option_disabled = true
    if value.available
      assign option_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  {%- if picker_type == 'swatch' -%}
    {%- capture help_text -%}
      <span class="visually-hidden">{{ value | escape }}</span>
      {{ label_unavailable }}
    {%- endcapture -%}
    {%- liquid
      assign variant_img = false
      if block.settings.show_variant_images
        assign variant_img = 'product-placeholder'
        for variant in product.variants
          for option in variant.options
            if option == value and variant.featured_image
              assign variant_img = variant.featured_image
              break
            endif
          endfor
        endfor
      endif
    -%}
    {%
      render 'swatch-input',
      id: input_id,
      name: input_name,
      value: value | escape,
      swatch: value.swatch,
      swatch_value: swatch_value,
      product_form_id: product_form_id,
      checked: value.selected,
      visually_disabled: option_disabled,
      shape: block.settings.swatch_shape,
      help_text: help_text,
      additional_props: input_dataset,
      variant_img: variant_img
    %}
  {%- elsif picker_type == 'button' -%}
    {% liquid
      for variant in product.variants
      for option in variant.options
        if option == value
          assign per_piece = variant.metafields.custom.per_piece
          assign save = variant.metafields.custom.save
        endif

      
      endfor
    endfor
    
    %}


    
    <label for="{{ input_id }}" class="{{ settings.product_swatch_style }}  {% if value.selected %}
          checked
        {% endif %}">
      <input
        type="radio"
        id="{{ input_id }}"
        name="{{ input_name }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        {% if value.selected %}
          checked
        {% endif %}
        {% if option_disabled %}
          class="disabled"
        {% endif %}
        {{ input_dataset }}
      >
        <div class="label_content">
      {% if save != blank %}
        <span class="label-save">{{ save }}</span>
      {% endif %}
      <span class="option-value">{{ value -}}</span>
      {% if per_piece != blank %}
        <span class="per-piece">{{ per_piece }}</span>
      {% endif %}
    
      {{ label_unavailable }}
      </div>
    </label>
  {%- elsif picker_type == 'dropdown' or picker_type == 'swatch_dropdown' -%}
    <option
      id="{{ input_id }}"
      value="{{ value | escape }}"
      {% if value.selected %}
        selected="selected"
      {% endif %}
      {% if swatch_value and picker_type == 'swatch_dropdown' %}
        data-option-swatch-value="{{ swatch_value }}"
        {% if swatch_focal_point %}
          data-option-swatch-focal-point="{{ swatch_focal_point }}"
        {% endif %}
      {% endif %}
      {{ input_dataset }}
    >
      {% if option_disabled -%}
        {{- 'product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
